{% block content %}
<h2>Trending Topics</h2>
{% for x in list %}
<form action="{{url_for('sentiments')}}" method="POST">
	<input type="hidden" name="topic" value="{{x}}">{{x}}
	<input type="submit" name="submit" value ="search">
</form>
{% endfor %}
{% endblock %}